body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}

button{
    width: 60px;
}